<h2>Hello World, today my goals are: </h2>
<ol>
  <li>get Bootstrap working on job-crm-v1</li>
  <li>get through 2 of Avi's videos for using Ajax in webforms</li>
  <li>get bradsmithtrio site built in Rails, deployed to Heroku</li>
  <li>migrate diet-tracker-v6 app to Heroku</li>
</ol>
