table {
  /*  border: 1px solid navy;*/
  table-layout: flexible;
  width: 100%;
  text-align: left;
}

th {
  font-weight: bold;
  overflow: hidden;
  width: 100px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

.index_view {
  font-weight: normal;
  background: LightGray;
}

.nav-bar {
  font-weight: normal;
  background: LightCyan;
  &:hover {
    background: DarkCyan;
  }
}

.admin {
  font-weight: normal;
  background: LightPink;
  &:hover {
    background: DarkCyan;
  }
}

.flash-style {
  font-weight: normal;
  color: #cc3300;
  font-style: italic;
}
